* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    background: radial-gradient(circle, rgb(37, 37, 37), #141414);
}

#bounce_balls {
    display: block;
}
